  
body.noSelect
  -webkit-user-select: none; 
  -moz-user-select: none;     
  user-select: none;          
  
#react-root
  font-family: "Barlow"
  font-weight: 400
  background-color: #080314
  width: 100vw
  height: 100vh
  display: grid
  grid-template-columns: 100px [editor-start] 1fr
  grid-template-rows: 50px [editor-start] 1fr 20px

#floatPlane
  position: fixed
  left: 0px
  top: 0px
  width: 100vw
  height: 100vh
  background-color: transparent
  z-index: 99
  pointer-events: none

.editorArea
  grid-column: editor-start
  grid-row: editor-start
  display: flex
  align-items: stretch

.editorPanel
  position: relative
  overflow: hidden
  flex-grow: 1;

.editorPanelBackground
  background-image: url("../../img/background.png")
  position: absolute
  overflow: visible
  left: 0
  top: 0
  right: 0
  bottom: 0

.editorPanelBackground.isDragPanel
  filter: brightness(97%)


.editorPanel:nth-child(1)
  border-right: 1px solid blue
  resize: horizontal
  flex-grow: 0;
  width: 50%;

.canvasView 
  position: absolute
  overflow: visible
  left: 0
  top: 0
  right: 0
  bottom: 0


/**  Block  **/

.block 
  position: absolute
  pointer-events: none
  width: var(--blockMaxWidth)

  .header 
    position: absolute
    max-width: var(--blockHeaderMaxWidth)
    width: var(--blockHeaderMaxWidth)
    top: calc(var(--blockContentMarginY) * 0.7)
    left: calc(var(--blockLeftTabWidth) + 6px)
    font-family: "Barlow"
    font-size: var(--blockFontSize)
    line-height: var(--blockLineHeight)
    color: var(--blockFontColor)

    .blockTitle
      font-weight: 600
      position: absolute

  .blockBackgroundLight 
    fill: var(--blockBackground_light)
    pointer-events: auto

  .blockBackgroundDarker
    stroke: var(--blockBackground_light)
    fill: var(--blockBackground)
    pointer-events: auto

  .blockBackgroundShadow
    fill: var(--blockBackground_light)

.block.ghost
  opacity: 0.3
  // .header 
  //   color: var(--blockFontColor_ghost)
  // .blockBackgroundLight 
  //   fill: var(--blockBackground_ghost_light)

  // .blockBackgroundDarker
  //   stroke: var(--blockBackground_ghost_light)
  //   fill: var(--blockBackground_ghost)

  // .blockBackgroundShadow
  //   fill: var(--blockBackground_ghost_light)

  
/**  Field  **/

.field
  position: absolute
  font:
    size: var(--blockFontSize)
  color: var(--fieldLabelColor)

  .label
    display: inline-block
    font:
      family: "Barlow Semi Condensed"
      size: var(--blockFontSize)
    color: var(--fieldLabelColor)
    overflow: hidden
    padding-right: var(--fieldLabelValueSpace)

  .inputWidget
    font:
      family: "Barlow"
      size: var(--blockFontSize)
      weight: 500
    color: var(--fieldInputColor)
    max-width: var(--blockHeaderMaxWidth)
    
    .contentView
      max-width: var(--blockHeaderMaxWidth)
      overflow: hidden

    &.active > .inputBackground
      background-color: white
      box-sizing: border-box
      border-bottom: 2px solid blue
      border-radius: 3px 3px 0 0
      top: -1px
      left: -3px
      width: calc( var(--textWidth) + 6px )
      height: calc( var(--blockLineHeight) + 2px )
    &.active > input
      position: absolute
      top: 0px
      left: 0px
      background-color: transparent
      max-width: var(--blockHeaderMaxWidth)


.block.ghost
  .field
    color: inherit

    .label
      color: inherit
    .inputWidget
      color: inherit


/** input widget **/

.inputWidget 
  pointer-events: auto
  margin: 0px
  word-spacing: 0
  box-sizing: content-box
  display: inline-block
  position: relative
  white-space: pre
  --textWidth: 0px;

.inputWidget.active > .contentView 
  color: transparent

.inputWidget > .inputBackground
  position: absolute
  display: none

.inputWidget.active > .inputBackground
  display: inline-block
  position: absolute
  background-color: yellow
  width: var(--textWidth);

.inputWidget > input 
  position: absolute
  display: inline-block
  width: var(--textWidth)
  left: -1px
  top: -1px
  border: none
  box-sizing: inherit
  font-family: inherit
  font-size: inherit
  font-weight: inherit
  font-style: inherit
  text-transform: inherit
  letter-spacing: inherit
  color: inherit
  background-color: inherit
  outline: none

//////////////////////////////////

#_mobxBar_
  font-family: "Barlow Condensed"
  font-size: 14px
  font-feature-settings: "tnum"
  position: fixed
  bottom: 0

.mobxStatus 
  background-color: lightgreen
  display: inline-block
  padding-left: 3px
  padding-right: 3px
  margin-right: 4px;

.mobxStatus .name
  color: #666666
  font-style: italic
